.hero_list_extra {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  width: 1106px;
  border-radius: 30px;
  background-color: #012245;
  margin-top: 112px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 112px;
  padding: 30px;
  gap: 25px;
}

.hero_list_item {
  width: 255px;
  display: flex;
  align-items: center;
}

.first_before::before {
  background-color: white;
  border-radius: 50%;
  content: "";
  display: block;
  background-image: url("../../images/Svg/shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 37px;
  margin-right: 16px;
  padding: 26px;
}

.second_before::before {
  background-color: white;
  border-radius: 50%;
  content: "";
  display: block;
  background-image: url("../../images/Svg/chart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 37px;
  margin-right: 16px;
  padding: 24px 32px;
}

.third_before::before {
  background-color: white;
  border-radius: 50%;
  content: "";
  display: block;
  background-image: url("../../images/Svg/people.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 37px;
  margin-right: 16px;
  padding: 25px 20px;
}

.fourth_before::before {
  background-color: white;
  border-radius: 50%;
  content: "";
  display: block;
  background-image: url("../../images/Svg/book.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 37px;
  margin-right: 16px;
  padding: 20px;
}

.hero_list_item_title {
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 9px;
  color: white;
}

.hero_list_item_text {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  width: 149px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}




@media (min-width: 576px) and (max-width: 767px) {

  .hero_list_extra {
    display: flex;
    flex-wrap: wrap;
    width: 595px !important;
    margin-top: 90px !important;
  }

}


@media (max-width: 575px) and (min-width: 320px) {

  .hero_list_extra {
    display: flex;
    flex-direction: column;
    width: 380px !important;
    margin-top: 90px !important;
  }

}